/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/layout/stretching";

$field-div-height: 550px;
$field-div-width: 900px;
$info-pane-div-height: $field-div-height;

#content {
}

#field-div {
  position: absolute;
  height: $field-div-height;
  width: $field-div-width;
  border: 1px #cecece dashed;
}

#info-pane-div {
  left: $field-div-width;
  right: 0;
  padding-top: 25px;
  position: absolute;
//  height: $info-pane-div-height - padding-top;
//  border: 1px #cecece dashed;
  text-align: center;
}

#hand-div {
  @include stretch-x;
  position: absolute;
  top: $field-div-height + 10px;
//  border: 1px #cecece dashed;
}

#hand-div img {
  width: 8em;
  padding-right: 2px;
  padding-left: 2px;
}

#next-phase-div {
  position: absolute;
  left: $field-div-width + 25px;
  top: $field-div-height;
}

#deck-div {
  position: absolute;
  right: 70;
  top: $field-div-height + 35px;
}

#deck-div img {
  width: 12em;
}